@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<HotelRentalBookingClient2.Models.Occupacy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Mã Hoạt động</th>
            <th>DateCheckin</th>
            <th>Id Khách</th>
            <th>Id Phòng</th>
            <th>Giá 1 ngày</th>
            <th>Thanh Toán</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row_@item.OccupacyNumber">
                <th scope="row">@item.OccupacyNumber</th>
                <td>@item.DateOccupacied</td>
                <td>@item.IdCustomer</td>

                <td>@item.IdRoom</td>
                <td>@item.RateApplied</td>
                <td>
                    @Ajax.ActionLink("Thanh Toán", "MakeBill", new { OccupacyNumber = item.OccupacyNumber }, new AjaxOptions
               {
                   Confirm = "Bạn muốn tiếp tục xử lý yêu cầu này?",
                   OnComplete = "$('#row_" + @item.OccupacyNumber + "').remove()",
                   HttpMethod = "Delete"
               })
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))

