
@{
    ViewBag.Title = "ChoseRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <label>
       Ngày checkin : @ViewBag.Date
    </label>
    <br />
    <label>
       Mã Thanh Toán: @ViewBag.IdOccupacy
        </label>
    <br />
    <label>
    Id Phòng: @ViewBag.IdRoom
     </label>
    <br />
    <label>
   ID Khách Hàng: @ViewBag.IdCustomer
 </label>
    <br />
    <label>
   Giá: @ViewBag.RateApplied $/day
     </label>
</body>